<!DOCTYPE html>
<html>
  <head>
    <title>Hello there - Here is your change!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <!--This page displays the change count.-->
    <h1>Your Change</h1>
    <p>{{change}}</p>
    <p><h1>hi</h1>
          <img src='/images/change.jpg' alt ='change machine'/></p>
  </body>
</html>