{{#block "header"}}

<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}}Give me some change!{{/block}}
</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 </head>
 <body>
{{/block}}

   <!-- begin inner templates-->

   <div class="container">

     {{#block "content"}}
{{/block}}

   </div>
   <!-- end inner templates-->
{{#block "footer"}}

 </body>
</html>
{{/block}}